<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Color Finder</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="image-input" name="file" accept="image/*" required>
            <button type="submit">Find Common Colors</button>
        </form>
        
        <div id="result" class="hidden">
            <h2>Most Common Colors:</h2>
            <ul id="color-list"></ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
